.autohide {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
  }
  .scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }
  .activel {
    font-weight: bold;
    color: blue;
  }
  .containts::before {
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    background: white;
    left: 30px;
    opacity: 20;
    top: 50%;
    position: absolute;
  }

  @media only screen and (max-width:599px) and (max-height:599px){
    body {
      height: 1000vh !important;
      position: relative;
    }
  }

  @media only screen and (max-width: 599px) and (min-height:600px){
    body {
      height: 930vh !important;
      position: relative;
    }
  }
  @media only screen and (min-width: 600px) and (max-height:599px){
    body {
      height: 1400vh !important;
      position: relative;
    }
  }
  @media only screen and (min-width: 600px) and (min-height:600px){
    body {
      height: 900vh !important;
      position: relative;
    }
  }
  @media only screen and (min-width: 768px) and(max-height:599px){
    body {
      height: 990vh !important;
      position: relative;
    }
  }

  @media only screen and (min-width: 768px) and(min-height:600px){
    body {
      height: 800vh !important;
      position: relative;
    }
  }